body {
  background-image: url("../css/world-map.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Michroma", sans-serif;
  font-size: 48px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px;
}

h2 {
  margin: 0 0 5px;
}

footer {
  display: block;
  font-size: 14px;
  color: whitesmoke;
  padding-bottom: 15px;
  margin-top: 5px;
  padding-left: 0;
  text-align: center;
}
a {
  color: antiquewhite;
}

.container {
  max-width: 600px;
  margin: 60px auto 10px auto;
  background-color: whitesmoke;
  padding: 30px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.city {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border-bottom: none;
}

.time {
  font-size: 48px;
  font-weight: 600;
}

.time small {
  font-size: 14px;
  line-height: 36px;
}

.date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}
